.MainOfCart {
  color: black;
}

.TitleContainer {
  display: flex;
  justify-content:space-evenly;
  color :black;
  font-size: 32px;
  margin-bottom: 25px;
}

.CartContainer {
  display:grid;
  grid-template-columns: 6fr 3fr;
}

.CheckoutContainer {
  background-color: white;
  margin-right: 100px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  
}
