.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    max-width: 500px;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.36);
    margin-bottom: 46px;
}      

.imageContainer {
  width: 100%;
  height: auto;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  overflow: hidden;
}

.itemDetails {
    margin: 25px 40px 40px 40px;
}

.ItemsCard_Name {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5px;
}

.ItemsCard_Des {
    font-size: 20px;
    margin-bottom: 15px;
}

.ItemsCard_PriceCont {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.ItemsCard_Price {
    font-size: 28px;
    margin-top: -5px;
}

/* Mobile Responsive Design */
@media (max-width: 640px) {
    .cardContainer {
        max-width: 61%;
        max-height: 50%;
        margin-bottom: 30px;
    }
    
    .itemDetails {
        margin: 15px 25px 25px 25px;
    }
    
    .ItemsCard_Name {
        font-size: 20px;
    }
    
    .ItemsCard_Des {
        font-size: 14px;
    }
    
    .ItemsCard_PriceStarting {
        font-size: 14px;
    }
    
    .ItemsCard_Price {
        font-size: 20px;
    }
    .imageContainer {
        width: 250px;
        height: 250px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        overflow: hidden;
    }
    .itemImage {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}

/* Tablet Responsive Design */
@media (min-width: 641px) and (max-width: 1023px) {
    .cardContainer {
        max-width: 350px;
    }
    
    .itemDetails {
        margin: 20px 30px 30px 30px;
    }
    
    .ItemsCard_Name {
        font-size: 24px;
    }
    
    .ItemsCard_Des {
        font-size: 16px;
    }
    
    .ItemsCard_Price {
        font-size: 24px;
    }
}


.cardContainer:hover {
    --scale-value: 1.0;
    scale: calc(1.02);
    opacity: 0.9;
}
