
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color : black

}

.navRightCont {
    display: flex;
    gap: 24px;
    align-items: center;
}

.NameOfStore {
    font-size: 68px;
    font-weight: 700;
    padding: 75px 25px 75px 100px;
}

.navLeftCont {
    display: flex;
    align-items: center;
    gap: 42px;
    font-size: 49px;
    padding-right: 100px;
}

.cartIconCont {
    border: black 4px solid;
    border-radius: 150px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.cartIcon {
    width: 65px;
}

.ContactusBTN {
    cursor: pointer;
    border: 3px solid black;
    padding: 5px 30px 5px 30px;
    border-radius: 50px;
}

/* Mobile Responsive Design */
@media (max-width: 640px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }
    
    .NameOfStore {
        font-size: 32px;
        padding: 30px 15px 30px 15px;
    }
    
    .navLeftCont {
        font-size: 20px;
        gap: 15px;
        padding-right: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cartIconCont {
        width: 60px;
        height: 60px;
    }
    
    .cartIcon {
        width: 45px;
    }
    
    .NavBarItemsTXT {
        margin-bottom: 10px;
    }
    
    .ContactusBTN {
        padding: 5px 15px 5px 15px;
    }
}

/* Tablet Responsive Design */
@media (min-width: 641px) and (max-width: 1023px) {
    .NameOfStore {
        font-size: 48px;
        padding: 50px 20px 50px 50px;
    }
    
    .navLeftCont {
        font-size: 32px;
        gap: 25px;
        padding-right: 50px;
    }
    
    .cartIconCont {
        width: 70px;
        height: 70px;
    }
    
    .cartIcon {
        width: 55px;
    }
}

@media (min-width: 1500px) and (max-width:1919) {
    .navbar{
        scale: 0.8;
    }
    
}

/* .navbar:left{
    background-color: white;
} */

.NavBarItemsTXT{
    cursor: pointer;
    margin-bottom: 25px;
} 